/*
Mainsail light theme
*/


:root {
    --pink: #fc00b9;
    --blue: #63839b;
    --blue-1: #58809e;
    --blue-2: #4b6579;
    --blue-3: #b1c7d6;

    --purple: #6610D5;
    --green: #80D510;
    --green-2: #b8f16c;

    --yellow-0: #fdf6e3;
    --yellow: #fdf6e3;
    --yellow-2: #eee8d5;
    --yellow-3: #ddd6c1;
    --yellow-4: #535047;

    --orange: #ff9341;

    --white: #fffcf2;
    --gray-0: #f6f6f6;
    --gray-1: #dcdcdc;
    --gray-15: #acabab;
    --gray-2: #808080;
    ;
    --gray-3: #656565;
    --gray-4: #5b5b5b;
    --gray-5: #4f4f4f;
    --gray-6: #363636;
    --gray-7: #232323;
    --gray-8: #171717;
    --black: #000000;

    --main-background: var(--yellow-3);
    --header-background: var(--yellow-3);

    --sheet-background: var(--yellow);
    --table-background: var(--yellow);
    --tab-background: var(--yellow-2);

    --selected-tab-text: var(--blue);
    --unselected-tab-text: var(--gray-6);

    --icons: var(--yellow-4);
    --secondary-icons: var(--gray-2);

    --topbar-background: var(--yellow-3);
    --topbar-title: var(--gray-4);
    --subheading: var(--gray-4);

    --sidebar-text-unselected: var(--gray-2);
    --sidebar-icon-selected: var(--yellow-4);

    --home-buttons: var(--gray-3);
    --button-color: var(--gray-2);
    --button-background: var(--yellow-2);
    --button-row-background: var(--yellow-3);
    --axis-backgrounds: var(--gray-3);

    --text-primary: var(--gray-8);
    --text-secondary: var(--gray-7);
    --text-tertiary: var(--gray-6);
    --table-text: var(--gray-6);
    --text-label-background: var(--blue);

    --input-text: var(--gray-6);
    --input-background: var(--white);
    --slider-background-color: var(--gray-2);
    --input-slot-background: var(--white);

    --mini-console: var(--yellow-4);
    --console-background: var(--yellow-4);
    --border-color: var(--black);

    --border-radius: 0px;

    --input-border-thickness: 0px;
    --input-border-color: var(--gray-2);

    --main-border-thickness: 0px;
    --main-border-color: var(--gray-2);
}


text {
    fill: var(--gray-5);
    fill-opacity: 1;
}

path[stroke="rgb(255,255,255)"] {
    stroke: var(--gray-5);
    stroke-opacity: 1;
}

.theme--dark.v-list-item {
    color: var(--icons);
}

.v-btn.v-btn--disabled.v-btn--text.theme--dark.v-size--default {
    color: var(--icons) !important;
}

.v-btn--round {
    color: var(--icons) !important;
}

.v-icon--left {
    color: var(--icons) !important;
}

/*
~~~ INPUT ~~~
*/

input {
    color: var(--input-text) !important;
}

.v-select__selections {
    color: var(--input-text) !important;
}

.v-input:not(.v-input__slider) {
    border: var(--input-border-thickness) solid var(--input-border-color) !important;
}

.v-text-field__suffix {
    /* Color for degrees, mm/s etc */
    color: var(--input-text) !important;
}

.v-text-field,
.v-input:not(.v-input--hide-details):not(.v-input--switch) {
    background: var(--input-background) !important;
}

.v-slider__track-background {
    background-color: var(--slider-background-color) !important;
}

.v-input__slot:not(:first-child(.v-slider)) {
    border: var(--input-border-thickness) solid var(--input-border-color) !important;
    color: var(--input-text) !important;
}

/* SIDEBAR */
.menu-item-icon {
    color: var(--sidebar-icon-selected) !important;
}

.theme--dark.v-list-item:not(.v-list-item--active):not(.v-list-item--disabled) {
    color: var(--sidebar-text-unselected);
}

.theme--dark.v-application .text--secondary {
    color: var(--text-secondary) !important;
}

/* CONSOLE */
.theme--dark.v-application .text--primary:not(.console-message) {
    color: var(--text-primary) !important;
}

.theme--dark.v-application .text--disabled:not(.console-time) {
    color: var(--text-tertiary) !important;
}

.v-card__text.order-2.pa-0 {
    border-bottom-left-radius: var(--border-radius) !important;
    border-bottom-right-radius: var(--border-radius) !important;
}

.text-center {
    color: var(--text-tertiary) !important;
}

.v-tab {
    color: var(--selected-tab-text) !important;
}

.v-tab:not(.v-tab--active) {
    color: var(--unselected-tab-text) !important;
}


.v-tab--active {
    background-color: var(--)
}

.pa-0.v-btn {
    color: var(--icons) !important;
}

.v-icon:not(.v-icon--left) {
    color: var(--secondary-icons);
}

.v-icon.notranslate.v-icon--disabled.v-icon--link.theme--dark {
    color: var(--secondary-icons) !important;
}

canvas {
    color: var(--text-primary) !important;
}

.v-card__text {
    color: var(--text-tertiary) !important;
}

.v-tab {
    background-color: var(--tab-background);
}

.v-tab--active {
    background-color: var(--sheet-background) !important;
}

.col-7.col {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.topbar {
    background-color: var(--topbar-background) !important;
    box-shadow: 0 3px 1px -2px #0003, 0 2px 2px #00000024, 0 1px 5px #0000001f !important;
}

.v-navigation-drawer {
    background-color: var(--subheading) !important;
}

.d-sm-flex {
    color: var(--text-secondary) !important;
}

/* BUTTONS */
.v-btn {
    box-shadow: none;
}

.v-btn--text:not(.v-btn--tile) {
    color: var(--text-tertiary) !important;
    background-color: var(--header-background) !important;
}

.v-btn--has-bg:not(.font-weight-bold) {
    color: var(--text-tertiary) !important;
}

.v-btn:not(.v-btn--tile):not(.btn-collapsible) {
    border: var(--border-thickness) solid var(--border-color) !important;
    background-color: var(--main-background);
}

.v-btn--round:not(.v-btn--tile):not(.btn-collapsible) {
    color: var(--input-background) !important;
    background-color: var(--button-background) !important;
}

._btn-qs,
._btn-group.row,
._btn-qs.flex-grow-1.px-0.v-btn.v-btn--disabled.v-btn--has-bg.theme--dark.v-size--default {
    /* Long Button Backgrounds */
    background-color: var(--button-row-background) !important;
}

.btnHomeAxis.btnGroup.v-btn.v-btn--disabled.v-btn--has-bg.theme--dark.v-size--default {
    background-color: var(--axis-background) !important;
    /* X Y Z Backgrounds */
}

._btn-extruder-cmd.v-btn.v-btn--disabled.v-btn--has-bg.theme--dark.v-size--small {
    background-color: var(--button-row-background) !important;
}

.v-btn.v-btn--disabled.v-btn--has-bg.theme--dark.v-size--small {
    background-color: var(--button-row-background) !important;
}

.theme--dark.v-btn.v-btn--disabled,
.theme--dark.v-btn.v-btn--disabled .v-icon,
.theme--dark.v-btn.v-btn--disabled .v-btn__loading {
    color: var(--button-color) !important;
}


.row--dense {
    color: var(--text-primary) !important;
}

.consoleScrollContainer {
    background: var(--console-background) !important;
}

/* These are for the mini-console */
.v-card__text.order-1 {
    background: var(--mini-console) !important;
}

/* This is the color of the background in the tabs on status, files, job queue etc */
.v-window__container {
    background: var(--sheet-background) !important;
}

.v-card__text.order-2 {
    background: var(--mini-console) !important;
}

.v-label {
    /* color: var(--text-tertiary) !important; */
    color: var(--white)
}

.v-label.v-label--active.theme--dark {
    padding-top: 4px !important;
    padding-bottom: 0px !important;
    font-size: smaller;
    color: var(--gray-5) !important;
}

._btn-extruder-cmd {
    color: var(--text-tertiary) !important;
}

.v-sheet {
    border-color: var(--main-background);
}

.v-data-table {
    background-color: var(--table-background) !important;
}

.v-application button.warning {
    background: var(--home-buttons) !important;
    background-color: var(--home-buttons) !important;
    border-color: var(--home-buttons) !important;
}

.v-toolbar.v-toolbar--dense.v-toolbar--flat {
    background: var(--header-background) !important;
}

.panel-toolbar {
    background: var(--header-background) !important;
    border-bottom: var(--main-border-thickness) solid var(--main-border-color) !important;
}

.v-btn--round {
    color: var(--button-color) !important;
}

.v-sheet.v-card {
    background-color: var(--sheet-background) !important;
    color: var(--table-text) !important;
}

.subheading {
    color: var(--subheading) !important;
}

.v-subheader {
    color: var(--subheading) !important;
}

.v-toolbar__title.text-no-wrap.ml-0.pl-2.mr-2 {
    color: var(--topbar-title) !important;
}

.v-data-table {
    color: var(--table-text) !important;
}

th {
    color: var(--text-tertiary) !important;
}

tr .icon:first-child {
    padding-left: 5px !important;
    padding-right: 5px !important;
}

/* Cards */
.v-sheet.v-card:not(.v-sheet--outlined):not(.v-card--flat) {
    border: var(--border-thickness) solid var(--border-color) !important;
    border-radius: var(--border-radius) !important;
}

.v-card--flat {
    border-radius: 0 !important;
}

.echarts-tooltip {
    color: var(--text-primary) !important;
    background: var(--main-background) !important;
}

hr.v-divider.theme--dark {
    background-color: var(--border-color) !important;
}

.v-list.v-sheet {
    background: var(--main-background) !important;
    box-shadow: none !important;
}

.v-application .pb-1 {
    padding-bottom: 0px !important;
}

tr {
    border-top: var(--border-thickness) solid var(--border-color) !important;
}